# Python
__pycache__/
*.pyc
*.pyo

# Node caches lourds
**/node_modules

# Nuxt caches de dev (ok de les exclure)
**/.nuxt

# (on NE DOIT PAS exclure .output/public ni requirements.txt)
# **/.output/.nitro  <- garde si tu veux, mais laisse .output/public !
# .git, IDE, etc. (optionnel)
.git
.gitignore
.vscode
.idea
